@media(max-width: 991px) {
	.offcanvas {
		transform: translateX(100%) !important;
	}

	header nav {
		background-color: black;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}

	header nav ul li::after {
		display: none;
	}

	header .add a,
	header .add li {
		color: white !important;
		padding: 5px 0 !important;
	}
}

@media (min-width: 576px) {

	.your-site,
	.digital-design,
	.flexible,
	.creative,
	.articles {
		padding: 70px 0;
	}

	.banner-content {
		width: 100% !important;
	}

	.banner-content h2 {
		font-size: 35px !important;
	}

	.banner-content p {
		width: 75% !important;
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 35px;
		height: 35px;
	}

	.pricing-inner .row {
		padding: 0 50px;
	}
	.digital-design-inner .digital-design-item:hover .digital-content {
		top: 90% !important;
	}
}

@media (min-width: 768px) {
	.banner-content {
		width: 70% !important;
	}

	.banner-content h2 {
		font-size: 45px !important;
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 40px;
		height: 40px;
	}
	.digital-design-inner .digital-design-item:hover .digital-content {
		top: 82% !important;
	}
}

@media (min-width: 992px) {
	.your-site,
	.digital-design,
	.flexible,
	.creative,
	.articles {
		padding: 120px 0;
	}
	.services{
		padding-bottom: 60px;
	}
	.banner-content {
		width: 70% !important;
	}

	.banner-content h2 {
		font-size: 60px !important;
	}

	.banner-content p {
		width: 50% !important;
	}

	.flexible-content {
		padding: 0 0 0 100px!important ;
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 50px;
		height: 50px;
	}
}

@media (min-width: 1200px) {
	.pricing .col-xl-4:first-child .pricing-item {
		border-radius: 7px 0 0 7px;
	}

	.pricing .col-xl-4:last-child .pricing-item {
		border-radius: 0 7px 7px 0;
	}

	.col-md-6:first-child .pricing-item {
		border-right: 0 !important;
	}

	.col-md-6:last-child .pricing-item {
		border-left: 0 !important;
	}
}