* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    object-fit: cover;
}

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

.w-4 {
    width: 25%;
}

.w-5 {
    width: 20%;
}

.w-30 {
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}

.w-70 {
    width: 70%;
}

body {
    background-color: #0c0324;
}

// HEADER

header {
    font-family: 'Rajdhani';
    border-bottom: 1px solid #FFFFFF33;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    nav {
        ul {
            li {
                a {
                    color: white;
                    font-size: 18px;
                    margin-left: 22px;
                    font-weight: 600;
                }

                &:first-child {
                    a {
                        color: #AB17DF;
                        position: relative;

                        &::after {
                            content: '';
                            background-color: #AB17DF;
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            bottom: -15%;
                            left: 0;
                        }
                    }

                }

                &:nth-child(5),
                &:nth-child(6) {
                    i {
                        margin-left: 8px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .button {
        color: white;
        background: linear-gradient(90deg, #4E10FF, #AB17DF);
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 600;

        i {
            margin-left: 10px;
        }
    }
}

.banner {
    font-family: 'Rajdhani';
    padding: 180px 0;
    background-image: url(../img/bg-hero-home.png);
    background-size: cover;
    background-position: center;

    .w-2 {

        .banner-content {

            h1 {
                font-size: 80px;
                color: white;
                position: relative;

                &::before {
                    content: '';
                    width: 150px;
                    height: 38px;
                    background-color: #FEAD10;
                    position: absolute;
                    top: 82%;
                    left: 48%;
                    z-index: -1;
                }
            }

            p {
                color: #FFFFFF99;
                font-family: 'Nunito';
                font-size: 18px;
                margin: 24px 0;
            }

            .button {
                color: white;
                background: linear-gradient(90deg, #4E10FF, #AB17DF);
                padding: 14px 34px;
                border-radius: 4px;
                font-weight: 600;
                border: none;
                margin-right: 18px;

                i {
                    margin-left: 10px;
                }
            }

            a {
                border: 1px solid #FFFFFF99;
                padding: 14px 34px;
                border-radius: 4px;
                color: #FFFFFF99;
                font-weight: 600;
            }

            ul {
                margin-top: 60px;

                li {
                    margin-right: 85px;

                    &:nth-child(2),
                    &:last-child {
                        position: relative;

                        &::before {
                            content: '';
                            width: 1px;
                            height: 100%;
                            background-color: #FFFFFF99;
                            position: absolute;
                            top: 0;
                            left: -50%;
                            transform: translateX(50%);
                        }
                    }

                    h2 {
                        color: white;
                        font-size: 50px;
                    }

                    span {
                        color: #FFFFFF99;
                        font-weight: 600;
                    }
                }
            }
        }

        .banner-image {
            position: relative;
            margin: 24px 0 0 64px;

            &::after {
                content: '';
                width: 90%;
                height: 100%;
                border: 2px solid;
                border-image: linear-gradient(90deg, #4E10FF, #AB17DF) 1;
                position: absolute;
                bottom: -18px;
                right: 3%;
                z-index: -1;
                border-radius: 8px;
            }

            img {
                border-radius: 8px;
            }
        }
    }
}

// OUR-PATNER

.patners {
    font-family: 'Rajdhani';

    .patners-title {
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #FFFFFF33;

        h2 {
            color: white;
            margin-bottom: 20px;
        }
    }

    .patners-items {
        margin-top: 30px;

        img {
            opacity: 0.3;
        }
    }
}

// STORY

.story {
    font-family: 'Rajdhani';
    margin-top: 120px;

    .w-2 {


        .story-img {
            position: relative;
            margin-right: 40px;

            img {
                border-radius: 30px;
                padding: 15px 20px;
            }

            .story-img-content {
                background-color: #0C032480;
                position: absolute;
                bottom: 70px;
                left: 65px;
                padding: 24px 140px 24px 18px;
                border-radius: 8px;

                h3 {
                    color: white;
                    font-size: 22px;
                }
            }
        }
    }

    .w-2 {
        .story-content {
            h5 {
                color: #FEAD10;
                font-size: 20px;
            }

            h2 {
                color: white;
                font-size: 72px;
                font-weight: 600;
            }

            p {
                color: #FFFFFF99;
                font-size: 18px;
                font-weight: 400;
                font-family: 'Nunito';
                margin: 20px 0;
            }

            .button {
                color: white;
                background: linear-gradient(90deg, #4E10FF, #AB17DF);
                padding: 14px 34px;
                border-radius: 4px;
                font-weight: 600;
                font-size: 20px;
                border: none;
                margin-right: 18px;

                i {
                    margin-left: 10px;
                    vertical-align: middle;
                }
            }
        }
    }
}

// COLLECTION

.collection {
    font-family: 'Rajdhani';
    background-image: url(../img/collection.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 120px 0;

    .collection-title {
        h5 {
            color: #FEAD10;
            font-size: 20px;
        }

        h2 {
            color: white;
            font-size: 72px;
            font-weight: 600;
            margin: 10px 0;
        }

        p {
            color: #FFFFFF99;
            max-width: 600px;
            margin: 0 auto;
            font-family: 'Nunito';
            font-size: 18px;
            font-weight: 500;
        }
    }

    .collection-inner {
        margin: 60px 0;

        .w-4 {
            .collection-items {
                margin: 0 18px;
                background-color: #FFFFFF12;
                padding: 12px;
                border-radius: 8px;

                .collection-content {
                    background-color: #0C032480;
                    padding: 12px 22px;
                    margin-top: 10px;
                    border-radius: 8px;

                    h4 {
                        color: white;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .button {
        color: white;
        background: linear-gradient(90deg, #4E10FF, #AB17DF);
        padding: 14px 34px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 20px;

        i {
            margin-left: 10px;
            vertical-align: middle;
        }
    }
}

// ROAD-MAP

.road-map {
    background-image: url(../img/collection.png);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    &::before{
        content: '';
        background-image: url(../img/noise.png);
        background-position: right;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .row {
        align-items: end;

        .w-2 {
            .road-map-title {
                font-family: 'Rajdhani';

                h5 {
                    color: #FEAD10;
                    font-size: 20px;
                }

                h2 {
                    color: white;
                    font-size: 72px;
                    font-weight: 600;
                }

                p {
                    color: #FFFFFF99;
                    font-family: 'Nunito';
                }
            }
        }
    }
    .road-map-inner{
        font-family: 'Rajdhani';
        margin-top: 50px;
        .row{
            .w-70{
                background-image: url(../img/elipse-4.png);
                background-position: center;
                background-size: cover;
                .road-map-items{
                    .w-2{
                        .road-map-content{
                            background-color: #FFFFFF12;
                            margin: 0 24px 24px 0;
                            padding: 35px;
                            border-radius: 8px;
                            ul{
                                margin-bottom: 15px;
                                li{
                                    &:first-child{
                                        position: relative;
                                        margin-right: 30px;
                                       &::after{
                                        content: '';
                                        width: 2px;
                                        background-color: #FFFFFF33;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        right: -60%;
                                       }
                                       h3{
                                        color:#FEAD10;
                                        font-size: 24px;
                                        font-weight: 700;
                                        
                                    }
                                    }
                                    
                                    h3{
                                        color: white;
                                        font-size: 24px;
                                        font-weight: 700;
                                    }
                                   
                                }
                            }
                            p{
                                color: #FFFFFF99;
                                font-weight: 500;
                                font-size: 18px;
                                font-family: 'Nunito';
                            }
                        }
                    }
                }
            }
        }
    }
}

// ACCORADIAN

.accordian{
    font-family: 'Rajdhani';
    margin: 80px 0;
    .row{
        .w-40{
            .accordian-title{
                h5{
                    color: #FEAD10;
                    font-size: 20px;
                }
                h2{
                    color: white;
                    font-size: 72px;
                    font-weight: 600;
                }
                p{
                    color: #FFFFFF99;
                    font-weight: 500;
                }
            }
        }
        .w-60{
            .accordian-content{
                margin-bottom: 30px;
                h3{
                    color: white;
                    font-size: 24px;
                }
                p{
                    color: #FFFFFF99;
                    font-size: 20px;
                    font-weight: 500;
                    display: none;
                }
            }
        }
    }
}

// OUR-TEAM

.our-team{
    font-family: 'Rajdhani';
    background-image: url(../img/elipse-top-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 80px 0;
    position: relative;
    &::after{
        content: '';
        background-image: url(../img/elipse-5.png);
        background-position: left;
        background-repeat: no-repeat;
        position: absolute;
        top: -400px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .our-team-title{
        h5{
            color: #FEAD10;
            font-size: 20px;
        }
        h2{
            color: white;
            font-size: 72px;
            font-weight: 600;
            margin: 5px 0;
        }
        p{
            color: #FFFFFF99;
            font-weight: 500;
            max-width: 550px;
            margin: 0 auto;
            font-weight: 500;
            font-family: 'Nunito';
        }
    }
    .team-inner{
        margin-top: 50px;
        .w-4{
            .team-items{
                background-color: #FFFFFF12;
                padding: 10px;
                margin-right: 24px;
                border-radius: 6px;
                .team-img{
                    img{
                        border-radius: 6px;
                    }
                }
                .team-content{
                    background-color: #0C032480;
                    padding: 12px;
                    border-radius: 6px;
                    h3{
                        color: white;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    p{
                        color: #FFFFFF99;
                        font-size: 16px;
                        font-weight: 500;
                        margin: 5px 0;
                        font-family: 'Nunito';
                    }
                    a{
                        color: white;
                        margin-right: 8px;
                        background-color: #AB17DF;
                        width: 28px;
                        height: 28px;
                        line-height: 29px;
                        border-radius: 50%;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// TESTIMONIAL

.testimonial{
    font-family: 'Rajdhani';
    background-image: url(../img/elipse-3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../img/elipse-bottom-right.png);
        position: absolute;
        top: -150px;
        left: 0;
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .w-40{
        .testimonial-title{
            h5{
                color: #FEAD10;
                font-size: 20px;
            }
            h2{
                color: white;
                font-size: 72px;
                font-weight: 600;
                margin: 5px 0;
            }
            p{
                color: #FFFFFF99;
                font-size: 18px;
                font-family: 'Nunito';
                font-weight: 600;
            }
        }
        .testimonial-items{
            .w-2{
                .testimonial-img{
                    margin: 34px 26px 34px 0;
                    img{
                        border-radius: 8px;
                        width: 192px;
                    }
                }
            }
        }
        .button {
            color: white;
            background: linear-gradient(90deg, #4E10FF, #AB17DF);
            padding: 14px 34px;
            border-radius: 4px;
            font-weight: 600;
            font-size: 20px;
    
            i {
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    .w-60{
        .testimonial-content{
            background-color: #FFFFFF12;
            padding: 80px;
            border-radius: 8px;
            h2{
                font-size: 38px;
                font-weight: 600;
                color: white;
            }
            p{
                color: #FFFFFF99;
                font-size: 20px;
                font-weight: 600;
                font-family: 'Nunito';
                margin: 30px 0;
            }
            img{
                border-radius: 6px;
            }
            h3{
                color: white;
                font-size: 20px;
                font-weight: 600;
            }
            h6{
                color: #FFFFFF99;
                font-weight: 500;
                font-family: 'Nunito';
                font-size: 14px;
            }
        }
    }
}